@font-face{

font-family: "Asap";

src: url('./fonts/asap/Asap-Italic.otf') format('otf');

font-weight: normal;

font-style: normal;
}

@font-face{

font-family: "SegoeWP";

src: url('./fonts/ofont.ru_SegoeWP.ttf') format('truetype');

font-weight: normal;

font-style: normal;
}

@font-face{

font-family: "Lucida Sans";

src: url('./fonts/lucida-sans-unicode_allfont_ru.ttf') format('truetype');

font-weight: normal;

font-style: italic;
}

@font-face{

font-family: "SegoeUI";

src: url('./fonts/segoe-wp-light.ttf') format('truetype');

font-weight: normal;

font-style: normal;
}

@font-face{

font-family: "SegoeUI";

src: url('./fonts/SegoeUi_bold.ttf') format('truetype');

font-weight: bold;

font-style: normal;
}

@font-face{

font-family: "PT Sans";

src: url('./fonts/pt-sans_[allfont.ru].ttf') format('truetype');

font-weight: normal;

font-style: normal;
}

@font-face{

font-family: "SegoeWp";

src: url('./fonts/ofont.ru_SegoeWP.ttf') format('truetype');

font-weight: normal;

font-style: normal;
}

@font-face{

font-family: "PT Sans Narrow";

src: url('./fonts/PTSansNarrow.ttf') format('truetype');

font-weight: normal;

font-style: normal;
}

@font-face{

font-family: "PT Sans Narrow";

src: url('./fonts/PTSansNarrow_Bold.ttf') format('truetype');

font-weight: bold;

font-style: normal;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}


body {
  padding: 0;
  margin: 0;
}

label {
	cursor: pointer;
}

.central {
  width: 100%;
}

.central-content {
  position: relative;

  box-sizing: border-box;

  margin: 0 auto;
  padding: 0;
  padding-left: 140px;
  padding-right: 140px;

  width: 1300px;
}

.main-header {
  position: absolute;
  width: 1020px;

  box-sizing: border-box;

  display: flex;
  justify-content: space-between;

	top: 8px;
}

.logo-figure-big {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  padding-top: 28px;

  display: flex;

  width: 316px;
}

.logo-figure-big figcaption {
  padding: 0;
  margin: 0;
  padding-top: 22px;
  padding-left: 3px;

  font-size: 27px;
  font-family: "Lucida Sans";
  color: rgb(255, 255, 255);
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.42);
  letter-spacing: 1px;
}

.logo-figure-big h2 {
  margin: 0;
}

.main-navigator {
  width: 453px;

  box-shadow:
    -4px -5px rgba(245, 197, 6, 0.27),
    -8px -8px rgba(245, 197, 6, 0.27);

  margin-top: 71px;
}

.main-navigator ul {
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: row;

  list-style: none;
}

.main-navigator li {
  padding: 10px 0 11px 0;
  margin: 0;

  box-sizing: border-box;

  display: flex;

  background-color: #f5c506;
}

.main-navigator li a{
  font-size: 17px;
  font-family: "SegoeWP";
  color: rgb(155, 125, 8);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  padding-left: 9px;
}

.main-navigator li:first-child {
  width: 173px;

  padding-left: 40px;
}

.main-navigator li:nth-child(2) {
  width: 134px;

  padding-left: 14px;

  border: 1px solid #dcb105;
  border-top: 0px;
  border-bottom: 0px;
}

.main-navigator li:last-child {
  width: 148px;

  padding-left: 17px;
}

.main-navigator p {
  margin: 0;
  margin-left: 9px;
}

.center-main-video-slides {
  width: 100%;

  background-image: url("./img/top-section-1.jpg");
  background-size: cover;
}

.video-slides {
  margin: 0 auto;
	padding-top: 8px;

  box-sizing: border-box;
  width: 1300px;

  background-image: url("./img/pattern1.png"), url("./img/top-section-1.jpg");
  background-size: 15px, cover;
  background-repeat: repeat, no-repeat;

  display: flex;
  justify-content: start;

}

.slide {
  padding: 0;
  margin: 0;

  width: 32px;
  height: 57px;

  background-color: #f5c506;

  display: flex;

  margin-top: 300px;
  margin-bottom: 210px;
}

.slide:hover,  .main-navigator li:hover {
  background-color: #cca90b;
}

.slide:active,  .main-navigator li:active {
	background-color: #ec9e03;
}

.slide img {
  margin-top: 19px;
  margin-bottom: 19px;
  margin-right: 11px;
  margin-left: 8px;
}

.right img {
  transform: rotate(180deg);

  margin-left: 11px;
  margin-top: 17px;
}

.center-video-cover {
  position: relative;

  padding: 0;
  margin: 0;
  margin-top: 168px;
  margin-left: 118px;
  margin-right: 50px;

  z-index: 0;
}


label[for="play-button-center"], label[for="play-button-mini"], label[for="volume-mute"], .video-length {
  position: absolute;
}

label[for="play-button-center"]:hover, label[for="play-button-mini"]:hover {
	background-color: #cca90b;
}

label[for="play-button-center"]:active, label[for="play-button-mini"]:active {
	background-color: #ec9e03;
}

img[src="./img/volume.svg"]:hover {
	filter: grayscale(100%) sepia(100%);
}

img[src="./img/volume.svg"]:active {
	filter: sepia(100%) grayscale(100%);
}

label[for="volume-mute"] {
  right: 19px;

  top: 285px;
}

label[for="play-button-center"] {
  width: 67px;
  height: 67px;

  top: 130px;
  left: 241px;

  display: flex;

  border-radius: 100%;

  background-color: rgba(245, 197, 6, 0.72);
}

label[for='play-button-center'] img, label[for="play-button-mini"] img {
  margin: auto 27px;
}

label[for="play-button-mini"] img {
  opacity: 0.37;
}

label[for="play-button-mini"] {
  width: 67px;
  height: 67px;

  top: 258px;
  left: 9px;

  display: flex;

  background-color: rgba(245, 197, 6, 0.37);

  transform: scale(0.40);
}

.video-length {
  width: 404px;
  height: 12px;

  left: 80px;
  top: 286px;

  border-radius: 5px;

  background-color: rgb(245, 197, 6);
  opacity: 0.278;
}

.video-length-active {
  width: 179px;
  height: 12px;

  left: 80px;
  top: 286px;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  position: absolute;

  background-color: #f5c507;
}

.slogan {

  margin-top: 244px;
  margin-right: 132px;

}

.slogan p {
  margin: 0;

  font-size: 63px;
  font-family: "Asap";
  text-transform: uppercase;
  color: rgb(245, 197, 6);
  line-height: 1.2;
  text-align: center;
}

.slogan p:first-child {
  padding-right: 16px;
}

.slogan p:last-child {
  color: rgb(255, 255, 255);

  padding-left: -10px;
}

.features-cover {
  width: 100%;

  background-image: url("./img/pattern2.png");
  background-size: 5px;
}

.features {
  margin: 0 auto;
  padding: 0;

  width: 1300px;

  box-sizing: border-box;

  box-shadow:
    0px -1px 5px rgba(0, 0, 0, 0.5);
}

.features ul {
  display: flex;
  justify-content: flex-start;

  list-style: none;

  margin: 0;
  padding: 0;
}

.features ul li {
  display: flex;
  flex-direction: column;

  border: 1px solid #d2d2d2;
  border-top: 0px;
  border-bottom: 0px;

  font-size: 27px;
  font-family: "SegoeUI";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.features p {
  margin: 0;
}

.features li:first-child {
  box-sizing: border-box;
  margin-left: 139px;
  padding-top: 60px;
  padding-right: 5px;
  padding-bottom: 34px;

  width: 342px;
}

.features li:first-child p {
  padding-top: 11px;
  padding-left: 20px;

}

.features li:nth-child(2) {
  box-sizing: border-box;

  border: 0px;
  width: 338px;

  padding-top: 36px;
  padding-left: 22px;
}

.features li:nth-child(2) p {
  padding-top: 15px;
}

.features li:last-child {
  box-sizing: border-box;
  width: 339px;

  padding-top: 53px;
  padding-right: 18px;
}

.features li:last-child p {
  padding-top: 10px;
  padding-left: 2px;
}

.feed-cover {
  width: 100%;
  min-width: 1300px;

  background-image: url("./img/pattern3.png");

	box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.feed {
  width: 1300px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-bottom: 161px;

  position: relative;
}

.feed h2 {
  margin: 0;

  margin-top: 36px;
  margin-left: 140px;

  font-size: 37px;
  font-family: "PT Sans";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  word-spacing: 3px;
}


.feed-content-description {
  position: relative;

  background-color: #ec9e03;

  box-sizing: border-box;
  width: 341px;

  font-size: 29px;
  font-family: "SegoeUI";
  color: rgb(255, 255, 255);
  line-height: 1.308;
  text-align: left;
	letter-spacing: 1px;
	word-spacing: -3px;

  margin-left: 139px;
  margin-top: 30px;
  margin-bottom: 3px;

  padding-top: 17px;
  padding-left: 29px;

}

.feed-content-description p {
  padding: 0;
  margin: 0;
}

label[for="plus-1"] {
  position: absolute;

  right: 14px;
  top: 190px;
}

label[for="plus-1"]:hover, label[for="plus-2"]:hover {
	filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.5));
}

label[for="plus-1"]:active, label[for="plus-2"]:active {
	filter: drop-shadow(1px 1px 0 rgb(0, 0, 0));
}

.feed-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  position: relative;
}

.calendar {
  position: absolute;

  height: 87px;
  width: 112px;

  background-color: #ddb101;

  top: 263px;
  left: 139px;

  display: flex;
  flex-direction: column;
}

.calendar p {
  padding: 0;
  margin: 0;
}

.calendar p:first-child {
  font-size: 51px;
  font-family: "SegoeUI";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.744;
  text-align: left;

  margin-top: 13px;
  margin-left: 30px;
}

.calendar p:last-child {
  font-size: 21px;
  font-family: "SegoeWP", serif;
  color: rgb(178, 101, 41);
  line-height: 1.805;
  text-align: left;
  text-transform: uppercase;

  margin-left: 32px;
}

.video-content {
  margin-top: 30px;
  position: relative;
}

label[for="feed-content-button"] {
  position: absolute;

  width: 60px;
  height: 60px;

  border-radius: 100%;

  background-color: rgba(245, 197, 6, 0.72);

  display: flex;

  top: 93px;
  left: 131px;
}

label[for="feed-content-button"]:hover {
	background-color: #cca90b;
}

label[for="feed-content-button"]:active {
	background-color: #ec9e03;
}

label[for="feed-content-button"] img {
  margin: auto;
  margin-left: 24px;
}

.feed-social {
  background-color: #ec9e03;

  box-sizing: border-box;

  margin-left: 34px;
  margin-top: 30px;
  margin-bottom: 3px;

  font-size: 25px;
  font-family: "SegoeUI";
  color: rgb(255, 255, 255);
  line-height: 1.517;
  text-align: left;

  display: flex;
  flex-direction: column;

  position: relative;
}

.feed-social span {
  position: absolute;

  top: 9px;
  right: 18px;
}

.feed-social img {
  margin-top: 59px;
  margin-right: 83px;
  margin-left: 83px;
}

label[for="plus-2"] {
  position: absolute;

  top: 150px;
  right: -74px;
}
.Rounded_Rectangle_2 {
  background-color: rgb(255, 255, 255);
  opacity: 0.478;
  position: absolute;
  left: 213px;
  top: 1250px;
  width: 896px;
  height: 15px;
  z-index: 52;
}

.slider-bar {
  background-color: rgb(255, 255, 255);

  width: 896px;
  height: 15px;

  position: absolute;

  bottom: 23px;
  left: 214px;
}

.using-pros-cover {
	width: 100%;

	background-color: #4c4c4c;
}

.using-pros {
	background-color: #4c4c4c;
	background-image: url("./img/pattern4.png");
	background-size: 10px;

	width: 1300px;

	display: flex;
	flex-direction: column;

	padding-bottom: 99px;
}

.using-pros h2 {
	margin: 0;

	font-size: 43px;
  font-family: "PT Sans";
  color: rgb(245, 197, 6);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
	word-spacing: 2px;

	margin-left: 351px;
	margin-top: 41px;
}

.using-pros-points {
	margin: 0;
	padding: 0;

	list-style: none;

	font-size: 22px;
  font-family: "Open Sans";
  color: rgb(169, 169, 167);
  line-height: 1.2;
  text-align: left;
	word-spacing: 1px;
}

.device-images {
	position: relative;

	padding-left: 158px;
	padding-top: 45px;

	width: 620px;
}

.free-bubble {
	position: absolute;

	width: 116px;
	height: 116px;

	top: 2px;
	left: 137px;

	border-radius: 100%;

	background-color: #f5c506;

	display: flex;
}

.free-bubble p {
	margin: auto;

	font-size: 19px;
  font-family: "PT Sans Narrow";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;

	margin-top: 50px;
	margin-left: 7px;
}
img[alt="tablet"] {
	margin-left: 20px;
	margin-bottom: 40px;
}

img[alt="smartphone"] {
	margin-left: 21px;
	margin-bottom: 40px;
}

.using-pros-content {
	display: flex;
}

.using-pros-points {
	margin-left: 85px;
	margin-top: 89px;
}

.using-pros-points li {
	position: relative;
}

.using-pros-points li:nth-child(2) {
	margin-top: 23px;
}

.using-pros-points li:nth-child(3) {
	margin-top: 14px;
}

.using-pros-points li:nth-child(4) {
	margin-top: 24px;
}

.using-pros-points li::before {
	position: absolute;
	content: "";

	top: 7px;
	left: -33px;

	width: 14px;
	height: 14px;

	border-radius: 100%;

	background-color: #f5c506;
}

.footer-cover {
	width: 100%;
	background-color: #4c4c4c;
}

.main-footer {
	width: 1300px;

	box-sizing: border-box;

	background-color: #4c4c4c;

	display: flex;
	justify-content: flex-start;

	font-size: 26px;
  font-family: "Lucida Sans";
  color: rgb(255, 255, 255);
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.42);

	padding-top: 5px;
	padding-left: 140px;
	padding-bottom: 5px;

	box-shadow: 0px -1px 5px rgba(0, 0, 0, 1);
}

.main-footer h3 {
	margin: 0;

	margin-top: 11px;
	margin-left: 5px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 896px;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}
input[type=range]::-ms-track {
  width: 896px;
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
	background-color: #fae284;
	z-index: 1;

	width: 896px;
	height: 15px;

	border-radius: 10px;

	margin-top: 1px;
}

input[type=range]::-moz-range-track {
	background-color: #fae284;
	z-index: 1;

	width: 896px;
	height: 15px;

	border-radius: 10px;

	margin-top: 1px;
}

input[type=range]::-ms-track {
	background-color: #fae284;

	width: 896px;
	height: 15px;

	border-radius: 10px;

	margin-top: 1px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;

	width: 197px;
	height: 15px;

	border-radius: 10px;

	background-color: #ec9e03;

	cursor: pointer;
}

input[type=range]::-moz-range-thumb {
	width: 197px;
	height: 15px;

	border-radius: 10px;

	background-color: #ec9e03;

	cursor: pointer;
}

input[type=range]::-ms-thumb {
	width: 197px;
	height: 15px;

	border-radius: 10px;

	background-color: #ec9e03;

	cursor: pointer;
}
