@font-face{

font-family: "Asap";

src: url('./fonts/asap/Asap-Italic.otf') format('otf');

font-weight: normal;

font-style: normal;
}

@font-face{

font-family: "SegoeWP";

src: url('./fonts/ofont.ru_SegoeWP.ttf') format('truetype');

font-weight: normal;

font-style: normal;
}

@font-face{

font-family: "Lucida Sans";

src: url('./fonts/lucida-sans-unicode_allfont_ru.ttf') format('truetype');

font-weight: normal;

font-style: italic;
}

@font-face{

font-family: "SegoeUI";

src: url('./fonts/segoe-wp-light.ttf') format('truetype');

font-weight: normal;

font-style: normal;
}

@font-face{

font-family: "SegoeUI";

src: url('./fonts/SegoeUi_bold.ttf') format('truetype');

font-weight: bold;

font-style: normal;
}

@font-face{

font-family: "PT Sans";

src: url('./fonts/pt-sans_[allfont.ru].ttf') format('truetype');

font-weight: normal;

font-style: normal;
}

@font-face{

font-family: "SegoeWp";

src: url('./fonts/ofont.ru_SegoeWP.ttf') format('truetype');

font-weight: normal;

font-style: normal;
}

@font-face{

font-family: "PT Sans Narrow";

src: url('./fonts/PTSansNarrow.ttf') format('truetype');

font-weight: normal;

font-style: normal;
}

@font-face{

font-family: "PT Sans Narrow";

src: url('./fonts/PTSansNarrow_Bold.ttf') format('truetype');

font-weight: bold;

font-style: normal;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}


body {
  padding: 0;
  margin: 0;
}

label {
	cursor: pointer;
}

.central {
  width: 100%;
}

.central-content {
  position: relative;

  box-sizing: border-box;

  margin: 0 auto;
  padding: 0;
  padding-left: 140px;
  padding-right: 140px;

  width: 1300px;
}

.main-header {
  position: absolute;
  width: 1020px;

  box-sizing: border-box;

  display: flex;
  justify-content: space-between;

	top: 8px;
}

.logo-figure-big {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  padding-top: 28px;

  display: flex;

  width: 316px;
}

.logo-figure-big figcaption {
  padding: 0;
  margin: 0;
  padding-top: 22px;
  padding-left: 3px;

  font-size: 27px;
  font-family: "Lucida Sans";
  color: rgb(255, 255, 255);
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.42);
  letter-spacing: 1px;
}

.logo-figure-big h2 {
  margin: 0;
}

.main-navigator {
  width: 453px;

  box-shadow:
    -4px -5px rgba(245, 197, 6, 0.27),
    -8px -8px rgba(245, 197, 6, 0.27);

  margin-top: 71px;
}

.main-navigator ul {
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: row;

  list-style: none;
}

.main-navigator li {
  padding: 10px 0 11px 0;
  margin: 0;

  box-sizing: border-box;

  display: flex;

  background-color: #f5c506;
}

.main-navigator li a{
  font-size: 17px;
  font-family: "SegoeWP";
  color: rgb(155, 125, 8);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  padding-left: 9px;
}

.main-navigator li:first-child {
  width: 173px;

  padding-left: 40px;
}

.main-navigator li:nth-child(2) {
  width: 134px;

  padding-left: 14px;

  border: 1px solid #dcb105;
  border-top: 0px;
  border-bottom: 0px;
}

.main-navigator li:last-child {
  width: 148px;

  padding-left: 17px;
}

.main-navigator p {
  margin: 0;
  margin-left: 9px;
}

.center-main-video-slides {
  width: 100%;

  background-image: url("./img/top-section-1.jpg");
  background-size: cover;
}

.video-slides {
  margin: 0 auto;
	padding-top: 8px;

  box-sizing: border-box;
  width: 1300px;

  background-image: url("./img/pattern1.png"), url("./img/top-section-1.jpg");
  background-size: 15px, cover;
  background-repeat: repeat, no-repeat;

  display: flex;
  justify-content: start;

}

.slide {
  padding: 0;
  margin: 0;

  width: 32px;
  height: 57px;

  background-color: #f5c506;

  display: flex;

  margin-top: 300px;
  margin-bottom: 210px;
}

.slide:hover,  .main-navigator li:hover {
  background-color: #cca90b;
}

.slide:active,  .main-navigator li:active {
	background-color: #ec9e03;
}

.slide img {
  margin-top: 19px;
  margin-bottom: 19px;
  margin-right: 11px;
  margin-left: 8px;
}

.right img {
  transform: rotate(180deg);

  margin-left: 11px;
  margin-top: 17px;
}

.center-video-cover {
  position: relative;

  padding: 0;
  margin: 0;
  margin-top: 168px;
  margin-left: 118px;
  margin-right: 50px;

  z-index: 0;
}


label[for="play-button-center"], label[for="play-button-mini"], label[for="volume-mute"], .video-length {
  position: absolute;
}

label[for="play-button-center"]:hover, label[for="play-button-mini"]:hover {
	background-color: #cca90b;
}

label[for="play-button-center"]:active, label[for="play-button-mini"]:active {
	background-color: #ec9e03;
}

img[src="./img/volume.svg"]:hover {
	filter: grayscale(100%) sepia(100%);
}

img[src="./img/volume.svg"]:active {
	filter: sepia(100%) grayscale(100%);
}

label[for="volume-mute"] {
  right: 19px;

  top: 285px;
}

label[for="play-button-center"] {
  width: 67px;
  height: 67px;

  top: 130px;
  left: 241px;

  display: flex;

  border-radius: 100%;

  background-color: rgba(245, 197, 6, 0.72);
}

label[for='play-button-center'] img, label[for="play-button-mini"] img {
  margin: auto 27px;
}

label[for="play-button-mini"] img {
  opacity: 0.37;
}

label[for="play-button-mini"] {
  width: 67px;
  height: 67px;

  top: 258px;
  left: 9px;

  display: flex;

  background-color: rgba(245, 197, 6, 0.37);

  transform: scale(0.40);
}

.video-length {
  width: 404px;
  height: 12px;

  left: 80px;
  top: 286px;

  border-radius: 5px;

  background-color: rgb(245, 197, 6);
  opacity: 0.278;
}

.video-length-active {
  width: 179px;
  height: 12px;

  left: 80px;
  top: 286px;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  position: absolute;

  background-color: #f5c507;
}

.slogan {

  margin-top: 244px;
  margin-right: 132px;

}

.slogan p {
  margin: 0;

  font-size: 63px;
  font-family: "Asap";
  text-transform: uppercase;
  color: rgb(245, 197, 6);
  line-height: 1.2;
  text-align: center;
}

.slogan p:first-child {
  padding-right: 16px;
}

.slogan p:last-child {
  color: rgb(255, 255, 255);

  padding-left: -10px;
}

.features-cover {
  width: 100%;

  background-image: url("./img/pattern2.png");
  background-size: 5px;
}

.features {
  margin: 0 auto;
  padding: 0;

  width: 1300px;

  box-sizing: border-box;

  box-shadow:
    0px -1px 5px rgba(0, 0, 0, 0.5);
}

.features ul {
  display: flex;
  justify-content: flex-start;

  list-style: none;

  margin: 0;
  padding: 0;
}

.features ul li {
  display: flex;
  flex-direction: column;

  border: 1px solid #d2d2d2;
  border-top: 0px;
  border-bottom: 0px;

  font-size: 27px;
  font-family: "SegoeUI";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.features p {
  margin: 0;
}

.features li:first-child {
  box-sizing: border-box;
  margin-left: 139px;
  padding-top: 60px;
  padding-right: 5px;
  padding-bottom: 34px;

  width: 342px;
}

.features li:first-child p {
  padding-top: 11px;
  padding-left: 20px;

}

.features li:nth-child(2) {
  box-sizing: border-box;

  border: 0px;
  width: 338px;

  padding-top: 36px;
  padding-left: 22px;
}

.features li:nth-child(2) p {
  padding-top: 15px;
}

.features li:last-child {
  box-sizing: border-box;
  width: 339px;

  padding-top: 53px;
  padding-right: 18px;
}

.features li:last-child p {
  padding-top: 10px;
  padding-left: 2px;
}

.feed-cover {
  width: 100%;
  min-width: 1300px;

  background-image: url("./img/pattern3.png");

	box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.feed {
  width: 1300px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-bottom: 161px;

  position: relative;
}

.feed h2 {
  margin: 0;

  margin-top: 36px;
  margin-left: 140px;

  font-size: 37px;
  font-family: "PT Sans";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  word-spacing: 3px;
}


.feed-content-description {
  position: relative;

  background-color: #ec9e03;

  box-sizing: border-box;
  width: 341px;

  font-size: 29px;
  font-family: "SegoeUI";
  color: rgb(255, 255, 255);
  line-height: 1.308;
  text-align: left;
	letter-spacing: 1px;
	word-spacing: -3px;

  margin-left: 139px;
  margin-top: 30px;
  margin-bottom: 3px;

  padding-top: 17px;
  padding-left: 29px;

}

.feed-content-description p {
  padding: 0;
  margin: 0;
}

label[for="plus-1"] {
  position: absolute;

  right: 14px;
  top: 190px;
}

label[for="plus-1"]:hover, label[for="plus-2"]:hover {
	filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.5));
}

label[for="plus-1"]:active, label[for="plus-2"]:active {
	filter: drop-shadow(1px 1px 0 rgb(0, 0, 0));
}

.feed-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  position: relative;
}

.calendar {
  position: absolute;

  height: 87px;
  width: 112px;

  background-color: #ddb101;

  top: 263px;
  left: 139px;

  display: flex;
  flex-direction: column;
}

.calendar p {
  padding: 0;
  margin: 0;
}

.calendar p:first-child {
  font-size: 51px;
  font-family: "SegoeUI";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.744;
  text-align: left;

  margin-top: 13px;
  margin-left: 30px;
}

.calendar p:last-child {
  font-size: 21px;
  font-family: "SegoeWP", serif;
  color: rgb(178, 101, 41);
  line-height: 1.805;
  text-align: left;
  text-transform: uppercase;

  margin-left: 32px;
}

.video-content {
  margin-top: 30px;
  position: relative;
}

label[for="feed-content-button"] {
  position: absolute;

  width: 60px;
  height: 60px;

  border-radius: 100%;

  background-color: rgba(245, 197, 6, 0.72);

  display: flex;

  top: 93px;
  left: 131px;
}

label[for="feed-content-button"]:hover {
	background-color: #cca90b;
}

label[for="feed-content-button"]:active {
	background-color: #ec9e03;
}

label[for="feed-content-button"] img {
  margin: auto;
  margin-left: 24px;
}

.feed-social {
  background-color: #ec9e03;

  box-sizing: border-box;

  margin-left: 34px;
  margin-top: 30px;
  margin-bottom: 3px;

  font-size: 25px;
  font-family: "SegoeUI";
  color: rgb(255, 255, 255);
  line-height: 1.517;
  text-align: left;

  display: flex;
  flex-direction: column;

  position: relative;
}

.feed-social span {
  position: absolute;

  top: 9px;
  right: 18px;
}

.feed-social img {
  margin-top: 59px;
  margin-right: 83px;
  margin-left: 83px;
}

label[for="plus-2"] {
  position: absolute;

  top: 150px;
  right: -74px;
}

.slider-bar {
  background-color: rgb(255, 255, 255);

  width: 896px;
  height: 15px;

  position: absolute;

  bottom: 23px;
  left: 214px;
}

.using-pros-cover {
	width: 100%;

	background-color: #4c4c4c;
}

.using-pros {
	background-color: #4c4c4c;
	background-image: url("./img/pattern4.png");
	background-size: 10px;

	width: 1300px;

	display: flex;
	flex-direction: column;

	padding-bottom: 99px;
}

.using-pros h2 {
	margin: 0;

	font-size: 43px;
  font-family: "PT Sans";
  color: rgb(245, 197, 6);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
	word-spacing: 2px;

	margin-left: 351px;
	margin-top: 41px;
}

.using-pros-points {
	margin: 0;
	padding: 0;

	list-style: none;

	font-size: 22px;
  font-family: "Open Sans";
  color: rgb(169, 169, 167);
  line-height: 1.2;
  text-align: left;
	word-spacing: 1px;
}

.device-images {
	position: relative;

	padding-left: 158px;
	padding-top: 45px;

	width: 620px;
}

.free-bubble {
	position: absolute;

	width: 116px;
	height: 116px;

	top: 2px;
	left: 137px;

	border-radius: 100%;

	background-color: #f5c506;

	display: flex;
}

.free-bubble p {
	margin: auto;

	font-size: 19px;
  font-family: "PT Sans Narrow";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;

	margin-top: 50px;
	margin-left: 7px;
}
img[alt="tablet"] {
	margin-left: 20px;
	margin-bottom: 40px;
}

img[alt="smartphone"] {
	margin-left: 21px;
	margin-bottom: 40px;
}

.using-pros-content {
	display: flex;
}

.using-pros-points {
	margin-left: 85px;
	margin-top: 89px;
}

.using-pros-points li {
	position: relative;
}

.using-pros-points li:nth-child(2) {
	margin-top: 23px;
}

.using-pros-points li:nth-child(3) {
	margin-top: 14px;
}

.using-pros-points li:nth-child(4) {
	margin-top: 24px;
}

.using-pros-points li::before {
	position: absolute;
	content: "";

	top: 7px;
	left: -33px;

	width: 14px;
	height: 14px;

	border-radius: 100%;

	background-color: #f5c506;
}

.footer-cover {
	width: 100%;
	background-color: #4c4c4c;
}

.main-footer {
	width: 1300px;

	box-sizing: border-box;

	background-color: #4c4c4c;

	display: flex;
	justify-content: flex-start;

	font-size: 26px;
  font-family: "Lucida Sans";
  color: rgb(255, 255, 255);
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.42);

	padding-top: 5px;
	padding-left: 140px;
	padding-bottom: 5px;

	box-shadow: 0px -1px 5px rgba(0, 0, 0, 1);
}

.main-footer h3 {
	margin: 0;

	margin-top: 11px;
	margin-left: 5px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 896px;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}
input[type=range]::-ms-track {
  width: 896px;
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
	background-color: #fae284;
	z-index: 1;

	width: 896px;
	height: 15px;

	border-radius: 10px;

	margin-top: 1px;
}

input[type=range]::-moz-range-track {
	background-color: #fae284;
	z-index: 1;

	width: 896px;
	height: 15px;

	border-radius: 10px;

	margin-top: 1px;
}

input[type=range]::-ms-track {
	background-color: #fae284;

	width: 896px;
	height: 15px;

	border-radius: 10px;

	margin-top: 1px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;

	width: 197px;
	height: 15px;

	border-radius: 10px;

	background-color: #ec9e03;

	cursor: pointer;
}

input[type=range]::-moz-range-thumb {
	width: 197px;
	height: 15px;

	border-radius: 10px;

	background-color: #ec9e03;

	cursor: pointer;
}

input[type=range]::-ms-thumb {
	width: 197px;
	height: 15px;

	border-radius: 10px;

	background-color: #ec9e03;

	cursor: pointer;
}

.video-slides-video-mobile {
	display: none;
}

.tweets {
	display: none;
}

@media(max-width: 640px) {
	.central-content {
	  position: relative;

	  box-sizing: border-box;

	  margin: 0 auto;
	  padding: 0;

	  width: 640px;
	}

	.main-header {
	  width: 640px;

	  box-sizing: border-box;

	  display: flex;
	  justify-content: flex-start;

		position: relative;
		top: 0;
	}

	.logo-figure-big {
	  padding: 0;
	  margin: 0;

	  display: flex;

	  width: 317px;

		background-image: url("./img/mobile/background1.png");
		background-size: cover;

		padding-left: 12px;
		padding-top: 10px;
		padding-bottom: 12px;
	}

	.logo-figure-big img {
		width: 40px;
	}

	.logo-figure-big figcaption {
	  padding: 0;
	  margin: 0;

		margin-top: 12px;
		margin-left: 6px;

	  font-size: 12px;
	  font-family: "Lucida Sans";
	  color: rgb(255, 255, 255);
	  font-style: italic;
	  text-transform: uppercase;
	  line-height: 1.2;
	  text-align: center;
	  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.42);
	  letter-spacing: 1px;
	}

	.logo-figure-big h2 {
	  margin: 0;
		padding: 0;
	}

	.main-navigator {
	  width: 454px;

		box-shadow: none;

		margin: 0;
		padding: 0;
	}

	.main-navigator ul {
	  padding: 0;
	  margin: 0;

	  display: flex;
	  justify-content: row;

	  list-style: none;
	}

	.main-navigator li {
	  padding: 20px 0 20px 0;
	  margin: 0;

	  box-sizing: border-box;

	  display: flex;

	  background-color: #f5c506;
	}

	.main-navigator li a{
	  font-size: 19px;
	  font-family: "SegoeWP";
	  color: rgb(155, 125, 8);
	  text-transform: uppercase;
	  line-height: 1.2;
	  text-align: center;
	  text-decoration: none;

	  padding-left: 11px;

	}

	.main-navigator li:first-child {
	  width: 170px;

		box-sizing: border-box;

	  padding-left: 23px;
	}

	.main-navigator li:first-child img {
		height: 22px;
	}
	.main-navigator li:nth-child(2) {
	  width: 134px;

	  padding-left: 9px;

	  border: 1px solid #dcb105;
	  border-top: 0px;
	  border-bottom: 0px;
	}

		.main-navigator li:nth-child(2) a {
			padding-left: 7px;
		}

		.main-navigator li:nth-child(2) img, .main-navigator li:nth-child(3) img  {
			height: 22px;
		}

	.main-navigator li:last-child {
	  width: 148px;

	  padding-left: 12px;
	}

	.main-navigator p {
	  margin: 0;
	  margin-left: 9px;
	}

	.center-main-video-slides {
	  width: 100%;

	  background-image: url("./img/top-section-1.jpg");
	  background-size: cover;
	}

	.video-slides {
	  width: 640px;

		padding: 0;
		margin: 0;
	}

	.video-slides-video {
		display: none;
	}

	.video-slides-video-mobile {
		display: block;
	}

	.center-video-cover::before {
		position: absolute;

		content: "";

		background-color: #f5c506;
		opacity: 0.11;

		width: 640px;
		height: 327px;
	}


	.slide {
	  display: none;
	}

	.center-video-cover {
	  position: relative;

	  padding: 0;
	  margin: 0;
	}

	label[for="volume-mute"] {
	  right: 55px;

	  top: 285px;
	}

	label[for="play-button-center"] {
	  width: 67px;
	  height: 67px;

	  top: 130px;
	  left: 295px;

	  display: flex;

	  border-radius: 100%;

	  background-color: rgba(245, 197, 6, 0.72);
	}

	label[for="play-button-mini"] {
	  width: 67px;
	  height: 67px;

	  top: 258px;
	  left: 64px;

	  display: flex;

	  background-color: rgba(245, 197, 6, 0.37);

	  transform: scale(0.40);
	}


	.video-length {
	  width: 404px;
	  height: 12px;

	  left: 135px;
	  top: 286px;

	  border-radius: 5px;

	  background-color: rgb(245, 197, 6);
	  opacity: 0.278;
	}

	.video-length-active {
	  width: 179px;
	  height: 12px;

	  left: 135px;
	  top: 286px;

	  border-top-left-radius: 5px;
	  border-bottom-left-radius: 5px;

	  position: absolute;

	  background-color: #f5c507;
	}

	.slogan {
		display: none;
	}

	.features::before {
		position: absolute;

		content: "";

		background-color: rgba(255, 255, 255, 0.6);

		width: 640px;
		height: 4px;

		top: -4px;
	}

	.features::after {
		position: absolute;

		content: "";

		background-color: rgba(255, 255, 255, 0.3);

		width: 640px;
		height: 6px;

		top: -10px;
	}

	.features {
	  margin: 0 auto;
	  padding: 0;

	  width: 640px;

	  box-sizing: border-box;

	  box-shadow: 0;

		position: relative;

		box-shadow: 0px 5px 0 0 rgba(233, 233, 233, 0.4);
	}

	.features ul li {
	  display: flex;
	  flex-direction: column;

	  border: 0;

	  font-size: 22px;
	  letter-spacing: 1px;


		padding: 0;
	}

	.features p {
	  margin: 0;
	}

	.features li:first-child {
	  margin-left: 0px;
		padding-top: 34px;
		padding-right: 0;

		padding-bottom: 25px;
	}

	.features li:first-child img {
		height: 60px;
		padding-right: 32px;
	}

	.features li:first-child p {
	  padding-top: 20px;
	  padding-left: 0px;
		padding-right: 19px;

	}

	.features li:nth-child(2) {
	  box-sizing: border-box;

	  border: 0px;
	  width: 338px;

	  padding: 0;
	}

	.features li:nth-child(2) img {
		margin-top: 31px;
		margin-left: 19px;

		height: 70px;
	}


	.features li:nth-child(2) p {
		padding: 0;

	  margin-top: 13px;
		margin-left: 22px;
	}

	.features li:last-child {
	  padding:0;
	}

	.features li:last-child img {
		height: 70px;

		margin-top: 30px;
	}

	.features li:last-child p {
	  padding-top: 13px;
	  padding-left: 7px;
	}

	.feed-cover {
	  width: 100%;
	  min-width: 640px;

	  background-color: white;
		background-image: url("");

		box-shadow: none;
	}

	.feed {
	  width: 640px;

	  padding-bottom: 0;

	}

	.feed h2 {
	  display: none;
	}


	.feed-content-description {
	  padding: 0;
		margin: 0;

		width: 300px;

		box-sizing: border-box;

		margin-top: 16px;
		margin-left: 10px;
		margin-bottom: 9px;
		margin-right: 8px;

		padding-top: 14px;
		padding-left: 26px;
		padding-right: 10px;
		padding-bottom: 33px;
	}

	label[for="plus-1"] {
		top: 185px;
		right: 12px;
	}

	.feed-content {
		flex-wrap: wrap;
	}

	.feed-content-description p {
	  padding: 0;
	  margin: 0;

		padding-bottom: 15px;

		line-height: 1.2;
	}

	.calendar {
	  display: none;
	}

	.video-content {
	  margin-top: 15px;
	  position: relative;
	}

	.feed-social {
	  margin: 0;

		width: 640px;

		background-color: #f5c507;

		flex-direction: row;
	}

	.feed-social span {
	  display: none;
	}

	.feed-social img[alt="social-twitter"] {
	  margin-top: 59px;
	  margin-right: 78px;
	  margin-left: 87px;
		margin-bottom: 42px;

		object-fit: cover;
		width: 160px;
	}

	label[for="plus-2"] {
	  display: none;
	}

	.slider-bar {
	  display: none;
	}

	.tweets {
		display: flex;
		flex-direction: column;

		font-size: 13px;
	  font-family: "Arial";
	  color: rgb(143, 142, 142);
	  line-height: 1.2;
	  text-align: left;
	}

	.last-tweets {
		list-style: none;

		padding: 0;
		margin: 0;

		padding-top: 24px;

		box-sizing: border-box;
	}

	.last-tweets li {
		padding-left: 27px;
		padding-top: 6px;
		padding-bottom: 10px;

		margin-bottom: 10px;
	}

	.last-tweets li:first-child {
		background-image: url("./img/mobile/tweet-last.png");
		background-repeat: no-repeat;
	}

	.last-tweets li:nth-child(2) {
		background-image: url("./img/mobile/tweet-fade.png");
		background-repeat: no-repeat;
	}

	.last-tweets li:nth-child(3) {
		background-image: url("./img/mobile/tweet-fader.png");
		background-repeat: no-repeat;

		margin-bottom: 1px;
	}

	input[name="tweet-value"] {
		border-top-left-radius: 9px;
		border-bottom-left-radius: 9px;

		width: 202px;
		height: 28px;

		padding: 0;
		margin: 0;

		margin-top: 8px;
		margin-left: 11px;

		box-shadow: none;
		border: none;

		border: 1px solid #d0a806;
	}

	button[name="tweet"] {
		font-size: 15px;
	  font-family: "Arial";
	  color: rgb(255, 255, 255);
	  line-height: 1.2;
	  text-align: left;

		background-color: #e3a220;
		background: linear-gradient(#e8a624, #d2900e);

		width: 70px;
		height: 30px;

		padding: 0;
		margin: 0;

		position: absolute;

		border: none;

		border: 1px solid #d0a806;
		border-top-right-radius: 9px;
		border-bottom-right-radius: 9px;

		top: 8px;

		box-sizing: border-box;

		padding-left: 10px;
		padding-top: 2px;

		cursor: pointer;
	}

	input[name="tweet-value"]:hover {
		box-shadow: inset 1px 1px 5px #d2900e;
	}

	button[name="tweet"]:hover {
		background: linear-gradient(#d2900e, #d2900e);
	}

	button[name="tweet"]:active {
		background: linear-gradient(#e8a624, #e8a624);
	}

	.send-tweet {
		padding: 0;
		margin: 0;

		width: 272px;

		border: none;

		position: relative;
	}

	.using-pros {
		width: 640px;

		padding-bottom: 52px;
	}

	.using-pros h2 {
		margin: 0;

		margin-top: 35px;
		margin-left: 18px;

		font-size: 40px;
		letter-spacing: 2px;
	}

	.using-pros-points {
		display: none;
	}

	.device-images {
		position: relative;

		padding-left: 58px;
		padding-top: 73px;

		width: 620px;
	}

	.free-bubble {
		top: 33px;
		left: 30px;
	}

	.main-footer {
		width: 640px;
		padding: 0;

		padding-bottom: 10px;
	}

	.main-footer img {
		width: 31px;

		margin-top: 6px;
		margin-left: 66px;

		object-fit: cover;
	}

	.main-footer h3 {
		margin: 0;

		font-size: 17px;

		margin-top: 13px;
		margin-left: 8px;
	}


}
